.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #000;
}

.logo {
  width: 100px;
  object-fit: contain;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0px 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  width: 250px;
  height: 300px;
  padding: 20px 20px 57px;
  border: 1px solid #fff;
  contain: content;
}

.res-card:hover {
  cursor: pointer;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
}

.res-logo {
  width: 100%;
  height: 130px;
}

.search-input {
  padding: 10px 5px;
  border-radius: 6px;
  margin-right: 5px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.search-btn {
  padding: 10px;
}

.filter-btn {
  padding: 10px;
}

.shimmer-div {
  display: flex;
}

.shimmer-card {
  margin: 5px;
  padding: 20px 20px 57px;
}
